html {
    background: url(background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    /*UPDATE: The Udacity Frontend Nanodegree Style Guide (FENST) recommends using double quotes for all attribute selectors and property values*/
    font-family: "Inconsolata", monospace;
}

h1 {
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.mobileShow {
    display: none;
    color:white;
    background-color: #7cd45e;  /*UPDATE:  lowercase letters - FENST*/
    font-size: 25px;
}
  /* Smartphone Portrait and Landscape */

@media screen and (max-device-width : 1024px){
    .mobileShow {
        display: inline;
    }
}

