html {
    background: url(background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-size: 20px;
    font-weight: 100;
    color: white;
}